@import '../../backend/css/sb-admin-2.css';
@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
@import './owl.carousel.min.css';
@import './aos.css';
@import './font-awesome.min.css';

body { 
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Anton',sans-serif;
    color: #4471b5;
}
img {
        z-index: 3;
            height: auto;
    position: relative;
    max-width: 100%;
}

.header {
    width: 100%;
        border-top: 3px solid;
    color: #fff;
    float: left;
    
    background-image:url('../img/bg-header.jpg');
}
.header * {
    font-family: Lato, sans-serif !important;
    color: #fff;
}
.logo { 
    margin: 50px auto;
    display: block;
}
.logo img {
    max-width:280px;
}
.top_menu { 
    margin: 50px 0;
    text-align: right;
}
.top_menu li {
display: inline-block;
}
.top_menu li a {
    color: #fff;
text-decoration: none;
margin: 0 10px;
}
.top_menu li a:hover  {
color: #fff;
text-decoration: none;
}
section { 
    clear: both;
}
.oferty {
position: relative;
    background: #fff;
    z-index: 8;
    width: 100%;
    top: -100px;
    box-shadow:0px 45px 25px -20px rgba(0,0,0,0.1);
}
.oferta_content {
    padding: 40px;
}
#content {
    position: relative;
}

.ofirmie {
    background: #fff;
    width: 100%;
}
.slogan {
    padding: 50px 0;
    /* max-height: 200px;
    overflow: hidden; */
}
.slogan h1 {
    font-weight: 900;

}
.news {
        margin: 25px 0;
    padding: 40px;
    width:100%;
    clear: both;
    float: left;
    background: #fff;
}
.footer-top {
    background-image: url('../img/bg-footer.jpg');
    width: 100%;
    float: left;
}
.post_image {
        margin: -40px 40px -40px -40px;
        background-size: cover;
        background-position:center;
}
.btn-primary {
    background:#4471b5;
    border-radius: 0px;
    padding: 10px 50px;

}
.footer-bottom {
    padding: 50px 0;
        clear: both;
}
.panel { 
        background: #fff;
    margin: 100px 0;
    padding: 25px;
    float: left;
    clear: both;
    width: 100%;
}
.menu {
    position: relative;
    z-index: 9;
}
.footer-bottom img {
        display: block;
            margin: 25px 0;

}
section.aktualnosci {
    padding: 50px 0;
        width: 100%;
}
.footer_content img {
    vertical-align: middle;
}
.btn.btn-secondary {
    background: none;
    clear: both;
    display: block;
    display: inline-block;
    color: #4471b5;
border-color:#4471b5;
padding: 8px 30px;
margin: 10px 0;
}
.news:nth-child(even) {
    width: 90%;
    float: right;
}
.ofirmie .btn-primary {
        margin: 25px 0;
}
.oferta_content .btn-primary, .oferta_content .btn.btn-secondary{
    padding: 20px 75px;
    display: inline-block;
    height: 75px;
    border-radius: 0;
}
.footer_content .panel * {
        margin: auto;
}
hr {
    border: 0;
    background: #f7f7f7;
    height: 7px;
}
hr:before {
    content: " ";
    background: #4471b5;
    z-index: 8;
    width: 30%;
    height: 7px;
    left: 0;
    position: absolute;
}
.navbar {
    width: 100%;
    position: relative;
    z-index: 9;
}

.oferta_place {
        padding: 20px 0 50px;
}
.footer-bottom li{ 
    display: block;
    list-style: none;
}
.footer-bottom ul  {
    margin: 20px 0;
    padding: 0;
}
.footer-bottom li a {
    color: inherit;
    text-decoration: none;
}
.aktualnosci h3 {
    margin: 20px 0;
}
.navbar-collapse {
    font-size: 18px;
transition: 0.5s all ease-in-out;
}
 
@media(min-width:992px) {
    .tel_cbt { 
            width: 110px;
    height: 110px;
    margin: -45px auto 0 auto !important;
    }
    .help_cbt {
        font-size: 0.9rem;
            padding: 20px 10px;
            display: inline-block;
    background: #fff !important;
    margin-left: -40px !important;
    position: relative !important;
    color: #4471b5 !important;
    margin-top: 15px !important;
    padding-left: 45px !important;
    }
    .slogan {
    padding: 50px 0;
    max-height: 200px;
    overflow: hidden;
}
    .navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus { 
    color: #ffffff;
}
.praca .image {
    /* margin: -20px -8px; */
}
.header.home {
    height: 480px;
}
}
@media(max-width:991px) { 
        .tel_cbt { 
        width:75px;
        height: 75px;
    }
    .help_cbt {
            padding: 7px 10px;
                font-size: 0.75rem;
    }
    #content {
    top:25px;
}
    .oferty {
        top:0px;
    }
    .slogan {
    padding: 50px 0;
    font-size: 2rem;
}
    .top_menu li {
        text-align: center;
    }
    .oferty { 

        text-align: center;
    }
    .btn-primary, .btn.btn-secondary { 
        display: block;
        clear: both;
    }
     .post_image { 
             margin:0;
             height: 200px;
     }
     .navbar-light .navbar-toggler {
    position: fixed;
    top: 20px;
    z-index: 9999;
    right: 20px;
     }
     .navbar-collapse.collapse {
         transition: 0.5s all ease-in-out;
         
     }
     .navbar-collapse.collapse, .navbar-collapse.collapsing  {
         opacity: 0;
     }
     .navbar-collapse.collapse.show {
    position: fixed;
    z-index: 9;
    background: #fff;
    top: 0;
    opacity: 1;
    width: 100%;
    display: table;
    left: 0;
    color: #000;
    height: 100vh;
}

.top_menu{
    display: table-cell;
    vertical-align: middle;
}
.top_menu li {
    display: block;
}
}
.image {
background-size: cover;
min-height: 319px;
}
.navbar-collapse.collapse {
    justify-content: flex-end;
}
.navbar-light .navbar-toggler-icon {
    filter:invert(1);
}
.navbar-light .navbar-toggler {
    border: 0px;
    border-radius: 0px;
    background: #4471b5;
    padding: 10px 20px;
}
.controllers {
        position: absolute;
    right: 12px;
    top: 0;
}
.controllers .controller {
        padding: 20px;
        cursor: pointer;
    background: #eee;
    border-radius: 0px;
}
.aktualnosci .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-size: .75rem;
}
.footer_content .panel h1{
    margin: 20px 0;
    text-align: center;
}
.oferta_data {
opacity:0;
}
.data {
    margin: 10px 0;
    /* background: #eee; */
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.listing { 
    margin: -15px;
        width: 100%;
}
.listing > div {
    margin:20px 0;
}
.feature_image {
        width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.aktualnosci .feature_image { 
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
}
main {
           /* display: flex; */
    /* clear: both; */
    flex-wrap: wrap;
    padding-bottom: 100px;
    clear: both;
    justify-content: center;
}
.card-title {
    margin: 20px 0;
    /* float: left; */
    display: flex;
    position: relative;
    z-index: 3;
    align-items:center;
    width: 100%;
    margin: 50px 0;
    flex-wrap: wrap;
}
.first_letter {
    position: absolute;
    font-size: 7rem;
    color: #eee;
    z-index: -1;
}
.aktualnosci {
    margin-bottom: -50px;
     margin-top: 50px;
     overflow: hidden;
}
.flat {
    border: 0;
    border-radius: 0;
    box-shadow:none;
}
.card-header, .card-footer {
        background: #fff;
}
.pagination { 
    width: 100%;
}
.owl-nav {
position: absolute;
    top: 0;
    right: 0;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {

    padding: 0px 17px !important;
    margin-left: 1px;

    }

    .owl-nav button {
        font-size:2rem !important;
    
    background: #eee !important;
}
input[type=file] {

    display: block;
    width: 100%;
    border: 1px solid #eee;
    padding: 25px;
}
.aktualnosci .col-lg-4 .card.flat:last-child { 
        position: sticky;
    top: 25px;
} 
.listItems .row { 
    margin: 20px 0;
}
input[type="file"]:before {
    background: #4471b5;
    position: absolute;
    content: "Wybierz plik";
    width: 95px;
    color: #fff;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
    padding: 10px;
    margin-top: -5px;
}
.social a{ 
    margin:0 5px;
}
.aktualnosci .card-body p { 
    position: relative;
    z-index: 3;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
   
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 1;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-title {
  margin-top: 0;
  /* color: inherit; */
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-badge.primary:before {
    content: "\f017";
    font-family: FontAwesome;
}
#cms .card, #cms .card-body {
    display: block !important;
}
.phone_btn_flat .close {
    position: absolute;
    right: 5px;
    top: -10px;
    background: #000;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 0.85rem;
    padding: 5px;
}
h1.card-title:before {
    content: " ";
    width: 64px;
    vertical-align: middle;
    height: 54px;
    background: url(/frontend/img/noratel_jez.png);
    padding: 10px 0;
}
.oferta_button h4 {
    color: #63758d !important;
    border-bottom: 2px solid #eee;
    /* font-family: Lato; */
    text-transform: uppercase;
    font-weight: 300;
    /* letter-spacing: -1px !important; */
    /* font-weight: 900; */
}
